.p-toast.p-toast-top-right {
    z-index: 1000;
    top: 7rem;
}

#app {
    width: 99%!important;
    margin: 0 auto!important;
}

.products {
    display: flex;
}

.p-paginator .p-component {
    display: none!important;
}